.draw {
    display: flex;
    flex: 1;
    touch-action: none;

    .control {
        position: absolute;
    }

    canvas {
        width: 100%;
        height: 100%;
        background-color: lightyellow;
    }
}

.watch {
    display: flex;
    flex: 1;

    .info {
        position: absolute;
    }

    canvas {
        flex: 1;
        background-color: lightyellow;
    }
}
.join {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: lightyellow;
    justify-content: center;
    align-items: center;
}
.enter {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: lightyellow;
    justify-content: center;
    align-items: center;
}

.choose{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: lightyellow;
    justify-content: center;
    align-items: center;
}