.draw {
    display: flex;
    flex: 1;
    touch-action: none;
    .control {
        position: absolute;
    }

    canvas {
        width: 100%;
        height: 100%;
        background-color: white;
    }
}

.watch {
    display: flex;
    flex: 1;

    .info {
        position: absolute;
    }

    canvas {
        flex: 1;
        background-color: white;
    }
}