.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    touch-action: none;
    .control{
        position: absolute;
    }
    canvas{
        flex: 1;
        background-color: white;
        margin: 20px;
    }
}

.watch{
    display: flex;
    width: 100vw;
    height: 100vh;
    .info{
        position: absolute;
    }
    canvas{
        flex: 1;
        background-color: white;
        margin: 20px;
    }
}