@import 'common';

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .welcome {
        padding: 5px;
        width: 50vw;
        img {
            width: 100%;
            border-radius: 1rem;
        }
    }
    .button{
        @include simulant-button-cross;
    }
}