@import "bootstrap";

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    h1 {
        text-align: center;
        margin-top: -10vh;
        @extend .alert,
        .alert-warning;
    }

    .roomName {
        @extend .input-group,
        .input-group-lg;
        align-self: center;
        width: 300px;
        div{
            @extend .input-group-prepend;
            span{
                @extend .input-group-text;
            }
        }
        input{
            @extend .form-control;
        }
    }

    a {
        margin-top: 5vh;
        align-self: center;
        @extend .btn;
        @extend .btn-secondary;

    }

}