@import "bootstrap";
@import "index.scss";
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        text-align: center;
        margin-top: -10vh;
        width: 70vw;
        @extend .alert,
        .alert-warning;
        @extend .blue-cross-background;
    }

    .roomName {
        @extend .input-group,
        .input-group-lg;
        align-self: center;
        width: 300px;
        div{
            @extend .input-group-prepend;
            span{
                @extend .input-group-text;
            }
        }
        input{
            @extend .form-control;
        }
    }

}